@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

/* Global Styles*/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

.leaf {
  background-image: url(../images/homepage-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.nav-mobile {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.nav-mobile__menu {
  display: none;
}

.fa-bars {
  color: #ececec;
  font-size: 52px;
}

header,
footer {
  background: #153e4d;
  text-align: center;
  border: 3px solid #3790b0;
}

.header-nav,
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  align-items: center;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-nav > *:first-child {
  justify-self: start;
}

.footer-nav > *:last-child {
  justify-self: end;
}

h1,
h2,
h3 {
  color: #ececec;
  text-decoration: none;
  font-family: Montserrat;
}

ul {
  list-style: none;
  color: #ececec;
  font-family: Roboto;
}

a,
p {
  color: #ececec;
  text-decoration: none;
  font-family: Roboto;
}

/* Homepage */

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 90%;
  height: auto;
  }

.slogan {
  display: block;
  text-align: center;
  font-size: 2em;
  max-width: 90%;
  margin: 0 auto;
}

/* CTA Button */

.button-wrapper {
  display: block;
  text-align: center;
}

.button {
  border-radius: 30px;
  display: inline-block;
  font-size: 2em;
  padding: 20px 50px;
  width: auto;
  margin: 20px;
}

.cta-button {
  background-color: #3790b0;
  color: #ececec;
}


@media screen and (max-width: 600px) {
  .nav-mobile {
    display: block;
  }

.button {
  padding: 10px 30px;
}

  .nav-desktop {
    display: none;
  }
}