@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}

/* Global Styles*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
  border: none;
}

.leaf {
  background-image: url(../images/homepage-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.background {
  background: #153e4d;
}

header,
footer {
  background: #153e4d;
  text-align: center;
  border: 3px solid #3790b0;
}

.header-nav,
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  align-items: center;
  padding: 5px 0px 0px 0px;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 0px 0px 0px;
}

.nav-mobile {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.nav-mobile__menu {
  position: absolute;
  background-color: #153e4d;
  border: 3px solid #3790b0;
  max-width: 100vw;
  text-align: left;
  font-size: 1.3em;
  left: 0px;
  top: 66px;
  display: none;
}

.fa-bars {
  color: #ececec;
  font-size: 52px;
}

.footer-nav > *:first-child {
  justify-self: start;
}

.footer-nav > *:last-child {
  justify-self: end;
}

.shop-link,
h1,
h2,
h3 {
  font-size: 2.5em;
  color: #ececec;
  text-decoration: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul {
  padding: 0px 20px;
  list-style: none;
  color: #ececec;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

li:not(:last-child) {
  margin-bottom: 30px;
}

a,
p {
  color: #ececec;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

input {
  border: 3px solid #3790b0;
  border-radius: 10px;
  min-height: 35px;
}

/* Homepage */

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 90%;
  height: auto;
}

.slogan {
  display: block;
  text-align: center;
  font-size: 1.8em;
  max-width: 90%;
  margin: 0 auto;
  text-shadow: 5px 5px 5px #153e4d;
}

.slogan h1 {
  font-size: 2em;
  margin: 0px;
}

/* CTA Button */

.button-wrapper {
  display: block;
  text-align: center;
}

.button {
  border-radius: 30px;
  display: inline-block;
  font-size: 2em;
  padding: 20px 50px;
  width: auto;
  margin: 20px;
  border: #3790b0 solid 3px;
}

.cta-button {
  background-color: #3790b0;
  color: #ececec;
}

.cta-button:hover {
  background: #153e4d;
  text-decoration: underline;
  cursor: pointer;
}

/* Shop page */
.shop-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 10px;
}

.shop-wrapper h1 {
  margin: 0px;
  margin-top: 30px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  max-width: 1500px;
  margin: 10px auto;
}

.shop h2 {
  font-size: 1.2em;
}

.shop-her,
.shop-him {
  display: grid;
  margin: 10px;
  border: #3790b0 solid 3px;
}

.shop-her img,
.shop-him img {
  width: 100%;
}

.cta-button-small {
  font-size: 1.2em;
  padding: 10px 30px;
}

/* About, Contact and product pages */
.general-container {
  margin: 10px auto;
  max-width: 700px;
  text-align: center;
}

.general-container p {
  margin: 20px;
}

.general-container h1 {
  margin-bottom: 50px;
}

.general-container h2 {
  font-size: 1.8em;
}

.general-container ul {
  margin-top: 30px;
  text-decoration: underline;
}

.general-form {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.general-form input,
#textarea {
  margin: 0px 20px;
  border: 3px solid #3790b0;
  border-radius: 10px;
}

.general-form label {
  color: #ececec;
  margin-bottom: -20px;
}

/* Checkout Stuff */
.checkout-info {
  margin: auto;
}

.checkout-info img {
  border-radius: 50%;
  height: 100px;
}

.payment {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  justify-content: space-between;
  max-width: 390px;
}

.payment label {
  font-size: 0.8em;
}

/* Media Quires */
@media (max-width: 720px) {
  .nav-mobile {
    display: flex;
  }

  .button {
    padding: 10px 30px;
    font-size: 1.8em;
    border-radius: 20px;
  }

  .nav-desktop {
    display: none;
  }

  .slogan {
    font-size: 1.5em;
  }

  .slogan h1 {
    font-size: 1.8em;
  }

  .shop {
    grid-template-columns: 1fr;
  }

  .cta-button-small {
    font-size: 1em;
  }

  .general-container h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  .general-container h2 {
    font-size: 1.4em;
  }
}
